<!-- <ng-container *ngFor="let quiz of quizData">
  <mat-card [@changeRoute]="animationState$ | async" (@changeRoute.done)="animationDoneHandler()"
    *ngIf="quiz.quizId === quizName && question && questionIndex <= totalQuestions">

    <mat-card-header>
      mcq header image
      <div mat-card-avatar class="header-image" [routerLink]="['/select']" matTooltip="back to Codelab Quiz Selection"
        matTooltipPosition="left">
      </div>
      mcq title text 
      <mat-card-title i18n>{{ quiz?.milestone }} Quiz</mat-card-title>
      <mat-card-subtitle i18n>Assess your knowledge of {{ quiz?.milestone }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      this is the timer box and score box
      <codelab-scoreboard></codelab-scoreboard>

      mcq text box question 
      <section id="question" class="css-typing" [ngClass]="!answers || answers.length === 0 ? 'unanswered': 'answered'">
        <span *ngIf="!answers || answers.length === 0" i18n>{{ question?.questionText }}&nbsp;
          <span class="number-correct" *ngIf="numberOfCorrectAnswers > 1">
            <em>({{ numberOfCorrectAnswers }} answers are correct.)</em>
          </span>
        </span>
        <span *ngIf="answers && answers.length > 0" i18n>
          {{ numberOfCorrectAnswers === 1 ? 'Option ' + correctOptions + ' was correct because ' :
          'Options ' + correctOptions + ' were correct because ' }}
          {{ explanationText }}.
        </span>
      </section>

      <codelab-quiz-question [question]="question" (answer)="selectedAnswer($event)">
      </codelab-quiz-question>
    </mat-card-content>

    <mat-card-footer>
      <section class="paging">
        <mat-card-actions>
          <mat-nav-list>
            left arrow or previous arrow 
            <div class="prev-question-nav" *ngIf="question && questionIndex > 1">
              <button type="button" mat-flat-button (click)="advanceToPreviousQuestion()"
                (window:keydown.ArrowLeft)="advanceToPreviousQuestion()" matTooltip="&laquo; Previous Question"
                matTooltipPosition="above">
                <svg viewBox="0 0 410.258 410.258">
                  <polygon [attr.points]="paging.previousButtonPoints" />
                </svg>
              </button>
            </div>
            restrat button or restart arrow

            <div class="restart-nav" *ngIf="question && questionIndex > 1 && questionIndex < totalQuestions">
              <button type="button" mat-flat-button (click)="restartQuiz()" matTooltip="Restart Quiz"
                matTooltipPosition="above">
                <svg viewBox="0 0 305.836 305.836">
                  <path [attr.d]="paging.restartButtonPath" />
                </svg>
              </button>
            </div>

            right arrow or next arrow 
            <div class="next-question-nav" *ngIf="question && questionIndex !== totalQuestions">
              <button type="button" mat-flat-button (click)="advanceToNextQuestion()"
                (window:keydown.ArrowRight)="advanceToNextQuestion()" (window:keydown.Enter)="advanceToNextQuestion()"
                matTooltip="Next Question &raquo;" matTooltipPosition="above" [disabled]="!isAnswered">
                <svg viewBox="0 0 410.258 410.258">
                  <polygon [attr.points]="paging.nextButtonPoints" />
                </svg>
              </button>
            </div>
            show your score button 
            <div class="show-score-nav" *ngIf="question && questionIndex === totalQuestions">
              <button type="submit" mat-raised-button disableRipple="true" (click)="advanceToResults()"
                (window:keydown.Enter)="advanceToResults()" (window:keydown.ArrowRight)="advanceToResults()"
                class="btn btn-outline-primary">
                <strong>Show Your Score</strong>
              </button>
            </div>
          </mat-nav-list>
        </mat-card-actions>
      </section>

      <section class="progress-bar" *ngIf="question && questionIndex > 1">
        <ngb-progressbar max="100" type="success" [striped]="true" [animated]="true" [value]="progressValue"
          class="progress-bar bg-info">
          <strong>{{ progressValue.toFixed(0) }}%</strong>
        </ngb-progressbar>
      </section>
    </mat-card-footer>
  </mat-card>
</ng-container> -->
<!-- this is the new code  -->

 <div class="container mt-md-5 ">
  
  <ng-container *ngFor="let quiz of quizData">
    <div class="card" [@changeRoute]="animationState$ | async" (@changeRoute.done)="animationDoneHandler()"
      *ngIf="quiz.quizId === quizName && question && questionIndex <= totalQuestions" style="border-radius: 25px;">

      <div class="card-header ">
        <div class="row ">
          <div class="col-md-10">
            <!-- mcq header image -->
            <div class="card-avatar header-image" [routerLink]="['/select']" data-toggle="tooltip" data-placement="left"
              title="Back to Codelab Quiz Selection">
              <img src="https://edumitram.co.in/images/logo.png" alt="logo" style="height: 90px;">
            </div>
          </div>
          <div class="col-md-2 ">
            <div class="d-flex flex-column">
              <div class="card-title">
                <h5 style=" font-size: 32px;  width: 300px;line-height: 25px;">{{ quiz?.milestone }} Quiz</h5>
              </div>
              <div class="card-title">
                <h6 style="font-size:18px; width: 300px;">Assess your knowledge of {{ quiz?.milestone }}</h6>
              </div>
            </div>
            <!-- mcq title text  -->

          </div>
        </div>



      </div>
      <div class="card-body bgimage ">
        <!-- this is the timer box and score box -->
        <!-- <codelab-scoreboard></codelab-scoreboard> -->

        <!-- mcq text box question  -->
        <section id="question" class="css-typing"
          [ngClass]="!answers || answers.length === 0 ? 'unanswered': 'answered'">
          <div class="row">
            <div class="col-md-12 ">
              <div class="">
                <div class="card-title mt-3 mb-3"
                  style="margin-left:2rem; ;  font-size: 1.7rem; color:rgb(80, 80, 80); line-height: 2.5rem; text-align: justify;"
                    *ngIf="!answers || answers.length === 0">{{ question?.questionText }}&nbsp;
                    <span class="number-correct"  *ngIf="numberOfCorrectAnswers > 1">
                      <em>({{ numberOfCorrectAnswers }} answers are correct.)</em>
                    </span>              
                 </div>
              </div>
            </div>
          </div>
          <!-- <span *ngIf="!answers || answers.length === 0">{{ question?.questionText }}&nbsp;
            <span class="number-correct"  *ngIf="numberOfCorrectAnswers > 1">
              <em>({{ numberOfCorrectAnswers }} answers are correct.)</em>
            </span>
          </span> -->
          <span *ngIf="answers && answers.length > 0">
            {{ numberOfCorrectAnswers === 1 ? 'Option ' + correctOptions + ' was correct because ' :
            'Options ' + correctOptions + ' were correct because ' }}
            {{ explanationText }}.
          </span>
        </section>
        <div class="align-content-center custom">
          <codelab-quiz-question [question]="question" (answer)="selectedAnswer($event)">
          </codelab-quiz-question>
        </div>
      </div>

      <div class="card-footer">
        <section class="paging">
          <div class="card-actions">
            <ul class="nav">
              <!-- left arrow or previous arrow  -->
              <li class="prev-question-nav" *ngIf="question && questionIndex > 1">
                <button type="button" class="btn btn-flat" (click)="advanceToPreviousQuestion()"
                  (window:keydown.ArrowLeft)="advanceToPreviousQuestion()" data-toggle="tooltip" data-placement="above"
                  title="&laquo; Previous Question">
                  <svg viewBox="0 0 410.258 410.258">
                    <polygon [attr.points]="paging.previousButtonPoints" />
                  </svg>
                </button>
              </li>

              <!-- restrat button or restart arrow -->
              <li class="restart-nav" *ngIf="question && questionIndex > 1 && questionIndex < totalQuestions">
                <button type="button" class="btn btn-flat" (click)="restartQuiz()" data-toggle="tooltip"
                  data-placement="above" title="Restart Quiz">
                  <svg viewBox="0 0 305.836 305.836">
                    <path [attr.d]="paging.restartButtonPath" />
                  </svg>
                </button>
              </li>

              <!-- right arrow or next arrow  -->
              <li class="next-question-nav" *ngIf="question && questionIndex !== totalQuestions">
                <button type="button" class="btn btn-flat" (click)="advanceToNextQuestion()"
                  (window:keydown.ArrowRight)="advanceToNextQuestion()" (window:keydown.Enter)="advanceToNextQuestion()"
                  data-toggle="tooltip" data-placement="above" title="Next Question &raquo;" [disabled]="!isAnswered">
                  <svg viewBox="0 0 410.258 410.258">
                    <polygon [attr.points]="paging.nextButtonPoints" />
                  </svg>
                </button>
              </li>

              <!-- show your score button  -->
              <li class="show-score-nav" *ngIf="question && questionIndex === totalQuestions">
                <button type="submit" class="btn btn-primary" (click)="advanceToResults()"
                  (window:keydown.Enter)="advanceToResults()" (window:keydown.ArrowRight)="advanceToResults()">
                  <strong>Show Your Score</strong>
                </button>
              </li>
            </ul>
          </div>
        </section>
        
        <section class="progress-bar" *ngIf="question && questionIndex > 1">
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=" progressValue.toFixed(0)"
              aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressValue.toFixed(0)">
              <strong>{{ progressValue.toFixed(0) }}%</strong>
            </div>
          </div>
        </section>
      </div>
    </div>
  </ng-container>
</div> 

        <!-- <codelab-quiz-question [question]="question" (answer)="selectedAnswer($event)">
        </codelab-quiz-question> -->