

.mcq{
  margin-top: 150px;
  
}

.mcq .mcq-answer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 15px;
  padding-right: 120px;
  width: 550px;
  
}

.mcq .mcq-answer p {
  z-index: 1000;
}

.mcq .circle {
  position: relative;
  height: 1em;
  width: 1em;
  margin-left: 1em;
  flex: 0 0 auto;
  border-radius: 50%;
  border: 0.3em solid #666677;
  background-color: transparent;
}

.mcq .mcq-answer p {
  display: block;
  margin: 1em;
  z-index: 10;
}

.mcq .feedback {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #a94442;
  color: white;
  min-height: 100%;
  max-width: 88.6%;
  padding: 1em 1em 1em 2em;
  z-index: 100;
  opacity: 1;
  visibility: hidden;
}

.mcq .correct .feedback {
  background-color: #3c763d;
}

.mcq input {
  display: none;
}

.mcq .highlight {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mcq input:hover ~ .highlight {
  background-color: #CCC;
}

.mcq input:checked ~ .highlight {
  background-color: #f2dede;
}

.mcq .correct input:checked ~ .highlight {
  background-color: #dff0d8;
}

.mcq input:checked ~ .circle {
  background-color: #ebccd1;;
  border-color: #a94442;
}

.mcq .correct input:checked ~ .circle {
  background-color: #d6e9c6;
  border-color: #3c763d;
  
}

.mcq input:checked ~ .feedback {
  visibility: visible;
  -webkit-animation: feedbackfade 3s ease 3s;
          animation: feedbackfade 3s ease 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card-body1 {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem 2rem;
  display: flex;
  gap: 10px;
  
}
// .card-body1 input{
//   font-family: bold;
//   font-size: large;
//   size: 50px;

// }
.message{
  color:  #07f20b;;
}
.sentiment-icon{
  color: #00ff04;
}
.sentiment-iconwrong{
  color: red;
}
.wrong-message{
  color:#c70805

}
.messages{
  margin-top: 10px;
  text-align: end;
 
}
.row input[type="radio"] {
  
  width: 18px; 
  height: 18px;
  background-color: #007bff; 
  border-radius: 50%;
  border: 2px solid #007bff; 
  margin-right: 10px;
  margin-top: 2px;
}








