@import "../../../_variables.scss";

.options {
  margin: 10 0 -5px 0.4rem;
  // margin: 50px 0 10px 0.4rem;
  padding: 1px;
  width: 900px;

  mat-radio-button, mat-checkbox {
    cursor: pointer;
    width: 39.5rem; // Set the desired width
    min-height: 4rem;
    font-family: $font-stack;
    font-size: 1rem;
    color: $dark-brown;
    background-color: $light-gray;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border-radius: 3rem;
    position: relative;
    
    .mat-radio-label, .mat-checkbox-label {
      white-space: normal;
      display: flex; /* Center the text vertically */
      align-items: center;
      justify-content: center;
       /* Center the text vertically */
       span {
        text-align: center;
        margin-top: 100px;
        /* Center the text horizontally */
      }
      .feedback-icon {
        position: absolute;
        right: 1rem;
        top: -1.5rem;
      }
    }
    
    &:hover {
      border: 2px solid $vivid-blue;
      border-radius: 1.5rem;
    }
    
    &.is-correct {
      background-color: $green;
    }
    
    &.is-incorrect {
      background-color: $red;
    }
  }
  
}
.messages {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: auto;

  span {
    font-size: 17px;
    margin-top: 10px;
  }

  .sentiment-icon {
    font-size: 30px;
    color: $light-yellow;
    margin: 50px -50px 0 10px;
    vertical-align: top;
    float: left;
  }

  .message {
    font-family: $font-stack;
    margin: 20px auto;
    padding: 10px !important;
    width: 37.5rem;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .correct-message {
    border: 2px solid $vivid-blue;
    color: $green;
  }

  .wrong-message {
    border: 2px solid $red;
    color: $red;
    padding: 5px;
    margin-top: -10px;

    .sentiment-icon {
      float: left;
      margin-top: -50px;
    }
  }
}

.previous-answer-text {
  clear: both;

  div {
    font-family: $font-stack;
    font-size: 16px;
    display: flex;
    justify-content: center;

    span {
      font-weight: $font-weight-max;
      font-style: italic;
    }
  }
}

.single-answer {
  mat-radio-button {
    height: 57.6px;
  }

  .message {
    margin-top: 10px;
  }

  .feedback-icon {
    margin-top: 5px !important;
  }

  .sentiment-icon {
    margin-top: 45px;
    margin-left: 45px;
  }

  // &.fade-in-image { /* Move this rule outside of the mat-radio-button rule */
  //   animation: fadeIn 3s;
  // }
  // @keyframes fadeIn {
  //   0% {
  //     opacity: 0;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }
  &.fade-in-image{
    animation: fadeInRight 2s ease-in-out;
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
    }
  }
  
}

.multiple-answer {
  mat-checkbox {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  mat-checkbox:first-child {
    margin-top: -20px !important;
  }

  .message {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .message .wrong-message {
    margin-top: 10px !important;
  }

  .feedback-icon {
    margin-top: 5px !important;
  }

  .sentiment-icon {
    margin-top: 40px;
    margin-left: 25px;
  }
}

// hide the radio buttons/checkboxes next to the answer choice
::ng-deep .mat-radio-button .mat-radio-container {
  display: none;
}
::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  display: none;
}

// set width and height of mat-checkbox
::ng-deep .mat-checkbox .mat-checkbox-layout {
  width: 37rem;
  height: auto;
}
.check{
  margin: 0 0 10px 13rem;
}

