<!-- <div class="mcq">

  <label class="mcq-answer">
    <input type="radio" name="question1" id="answer1">
    <div class="highlight"></div>
    <div class="circle"></div>
    <p>Incorrect answer 1</p>
    <span class="feedback">Incorrect</span>
  </label>
  <label class="mcq-answer correct">
    <input type="radio" name="question1" id="answer1">
    <div class="highlight"></div>
    <div class="circle"></div>
    <p>Correct answer</p>
    <span class="feedback">Correct</span>
  </label>
  <label class="mcq-answer">
    <input type="radio" name="question1" id="answer1">
    <div class="highlight"></div>
    <div class="circle"></div>
    <p>Incorrect answer 2</p>
    <span class="feedback">Incorrect</span>
  </label>
  <label class="mcq-answer">
    <input type="radio" name="question1" id="answer1">
    <div class="highlight"></div>
    <div class="circle"></div>
    <p>Incorrect answer 3</p>
    <span class="feedback">Incorrect</span>
  </label>

</div> -->
<!-- MCQ visible demo ends here -->
<ng-container *ngFor="let option of currentQuestion.options; index as i">
  <div class="container  single-answer check fade-in-image " *ngIf="!multipleAnswer">
    <div class="row">
      <div class="col-md-12 ">
        <div class="">
          <!-- <div class="card-title mt-3 mb-3" (change)="setSelected(i)"
            [class.is-correct]="option.selected && option.correct"
            [class.is-incorrect]="option.selected && !option.correct" class="fade-in-image "
            style="margin-left:2rem; ;  font-size: 1.7rem; color:rgb(80, 80, 80); line-height: 2.5rem; text-align: justify;">
            this is simple question
          </div> -->
          <div class="card-body">

            <div class="row ">
              <div class="col-md-12 ">
                <div class="card" style="border-radius:25px">

                  <div class="card-body1">


                    <div class="row col-md-12 ">
                      <input type="radio" (change)="setSelected(i)" [disabled]="alreadyAnswered"
                        [class.is-correct]="option.selected && option.correct"
                        [class.is-incorrect]="option.selected && !option.correct" class="fade-in-image  custom-radio">
                      <!-- show the text option in mcq choice -->
                      <span>
                        <div [innerHTML]="i+1 +'.' + option.text"></div>
                      </span>
                      <!-- this is icon of the done and clear if the question is right  -->
                      <mat-icon class="feedback-icon"
                        *ngIf="option.selected && option.correct && isCorrectAnswerSelected">done</mat-icon>
                      <mat-icon class="feedback-icon" *ngIf="option.selected && !option.correct">clear</mat-icon>

                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="previousUserAnswersText[i] && option.selected" class="previous-answer-text">
              <span>&ldquo;{{ previousUserAnswersText[i] }}&rdquo; was selected in your previous quiz.</span>
            </div>

            <section class="messages">
              <div *ngIf="option.selected && option.correct && isCorrectAnswerSelected">
                <span>
                  <mat-icon class="sentiment-icon">sentiment_very_satisfied</mat-icon>&nbsp;&nbsp;&nbsp;
                  <span class="message correct-message" i18n>&nbsp;&nbsp;&nbsp;You&apos;re right! {{ correctMessage
                    }}</span>
                </span>
              </div>
              <div *ngIf="option.selected && !option.correct">
                <span>
                  <mat-icon class="sentiment-iconwrong">sentiment_very_dissatisfied</mat-icon>&nbsp;&nbsp;&nbsp;
                  <span class="message wrong-message" i18n>&nbsp;&nbsp;&nbsp;That&apos;s wrong. {{ correctMessage
                    }}</span>
                </span>
              </div>
              <!-- TODO: show previous user answers for single-answer questions -->
              <div *ngFor="let previousText of previousUserAnswersTextSingleAnswer[i]" class="previous-answer-text">

                <span *ngIf="option.selected"><em>{{ previousText }}</em> was selected in your previous quiz.</span>
              </div>
            </section>
            <!-- <div class="row mt-3 mb-3">
              <div class="col-md-12 ">
                <div class="card" style="border-radius:25px">

                  <div class="card-body1 mt-2   ">
                  
                    <h5 style="font-size: 0.8rem; margin: 0px 40px 7px">{{question.AnswerBText}}</h5>
                    
                  </div>

                </div>
              </div>
            </div> -->
            <!-- <div class="row mt-3 mb-3">
              <div class="col-md-12 ">
                <div class="card" style="border-radius:25px">

                  <div class="card-body1">
                    <div class="row col-md-12 mt-2 ">
                      <h5 style="font-size: 0.8rem; margin: 0px 40px 7px"> {{question.AnswerCText}}</h5>
                    </div>
                  </div>

                </div>
              </div>
            </div> -->
            <!-- <div class="row mt-3 mb-3">
              <div class="col-md-12 ">
                <div class="card" style="border-radius:25px">

                  <div class="card-body1">
                    <div class="row col-md-12 mt-2 ">
                      <h5 style="font-size: 0.8rem;
                              margin: 0px 40px 7px">{{question.AnswerDText}}</h5>
                    </div>
                  </div>

                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- <div class="container mt-5 ">
  <div class="row">
    <div class="col-md-12 ">
      <div class="">
        <div class="card-title mt-3 mb-3"
          style="margin-left:2rem; ;  font-size: 1.7rem; color:rgb(80, 80, 80); line-height: 2.5rem; text-align: justify;">
          {{question.QText}}
        </div>
        <div class="card-body">

          <div class="row ">
            <div class="col-md-12 ">
              <div class="card" style="border-radius:25px">

                <div class="card-body1">


                  <div class="row col-md-12 mt-2">
                    <h5 style="font-size: 0.8rem; margin: 0px 40px 7px"> {{question.AnswerAText}}</h5>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <div class="col-md-12 ">
              <div class="card" style="border-radius:25px">

                <div class="card-body1 mt-2   ">
                 
                  <h5 style="font-size: 0.8rem; margin: 0px 40px 7px">{{question.AnswerBText}}</h5>
                
                </div>

              </div>
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <div class="col-md-12 ">
              <div class="card" style="border-radius:25px">

                <div class="card-body1">
                  <div class="row col-md-12 mt-2 ">
                    <h5 style="font-size: 0.8rem; margin: 0px 40px 7px"> {{question.AnswerCText}}</h5>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <div class="col-md-12 ">
              <div class="card" style="border-radius:25px">

                <div class="card-body1">
                  <div class="row col-md-12 mt-2 ">
                    <h5 style="font-size: 0.8rem;
                              margin: 0px 40px 7px">{{question.AnswerDText}}</h5>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <ng-content></ng-content> -->
<!-- <form [formGroup]="formGroup">
  <div class="options" *ngFor="let option of currentQuestion.options; index as i">
    <div class="single-answer check fade-in-image " *ngIf="!multipleAnswer">
      <input type="radio" class="" (change)="setSelected(i)" [disabled]="alreadyAnswered"
        [class.is-correct]="option.selected && option.correct" [class.is-incorrect]="option.selected && !option.correct"
        class="fade-in-image ">
      show the text option in mcq choice comment
      <span>{{ i + 1 }}. {{ option.text }}</span>
      this is icon of the done and clear if the question is right  comment
      <mat-icon class="feedback-icon"
        *ngIf="option.selected && option.correct && isCorrectAnswerSelected">done</mat-icon>
      <mat-icon class="feedback-icon" *ngIf="option.selected && !option.correct">clear</mat-icon>

      />

      <div *ngIf="previousUserAnswersText[i] && option.selected" class="previous-answer-text">
        <span>&ldquo;{{ previousUserAnswersText[i] }}&rdquo; was selected in your previous quiz.</span>
      </div>

      <section class="messages">
        <div *ngIf="option.selected && option.correct && isCorrectAnswerSelected">
          <span>
            <mat-icon class="sentiment-icon">sentiment_very_satisfied</mat-icon>&nbsp;&nbsp;&nbsp;
            <span class="message correct-message" i18n>&nbsp;&nbsp;&nbsp;You&apos;re right! {{ correctMessage }}</span>
          </span>
        </div>
        <div *ngIf="option.selected && !option.correct">
          <span>
            <mat-icon class="sentiment-icon">sentiment_very_dissatisfied</mat-icon>&nbsp;&nbsp;&nbsp;
            <span class="message wrong-message" i18n>&nbsp;&nbsp;&nbsp;That&apos;s wrong. {{ correctMessage }}</span>
          </span>
        </div>
        TODO: show previous user answers for single-answer questions comment
        <div *ngFor="let previousText of previousUserAnswersTextSingleAnswer[i]" class="previous-answer-text">

          <span *ngIf="option.selected"><em>{{ previousText }}</em> was selected in your previous quiz.</span>
        </div>
      </section>
    </div>
  </div>
</form> -->


<!-- ------------@@@@@@@@@@@@-----------@@@@@@@@@@@@@@@@@@-----------@@@@@@@@@@@@@@ -->

<!-- THIS CODE IS ONLY MULTIPLE OPTION -->

<!--  <div class="multiple-answer" *ngIf="multipleAnswer">
      <mat-checkbox (change)="setSelected(i)" [class.is-correct]="option.selected && option.correct"
        [class.is-incorrect]="option.selected && !option.correct" class="fade-in-image">

        <mat-checkbox-label>
          <span>{{ i + 1 }}. {{ option.text }}</span>

          <mat-icon class="feedback-icon"
            *ngIf="option.selected && option.correct && isCorrectAnswerSelected">done</mat-icon>
          <mat-icon class="feedback-icon" *ngIf="option.selected && !option.correct">clear</mat-icon>
        </mat-checkbox-label>
      </mat-checkbox>


      <section class="messages">
        <div *ngIf="option.selected && option.correct && isCorrectAnswerSelected">
          <span>
            <mat-icon class="sentiment-icon">sentiment_very_satisfied</mat-icon>&nbsp;&nbsp;&nbsp;
            <span class="message correct-message" i18n>&nbsp;&nbsp;&nbsp;You&apos;re right! {{ correctMessage }}</span>
          </span>
        </div>
        <div *ngIf="option.selected && !option.correct">
          <span>
            <mat-icon class="sentiment-icon">sentiment_very_dissatisfied</mat-icon>&nbsp;&nbsp;&nbsp;
            <span class="message wrong-message" i18n>&nbsp;&nbsp;&nbsp;That&apos;s wrong. {{ correctMessage }}</span>
          </span>
        </div>
      </section>
    </div>

    <div *ngFor="let previousText of previousUserAnswersTextMultipleAnswer" class="previous-answer-text">
      <span *ngIf="option.selected">{{ previousText }}</span>&nbsp;was selected in your previous quiz.
    </div> -->