<!-- <div class="mcq">

  <label class="mcq-answer">
    <input type="radio" name="question1" id="answer1">
    <div class="highlight"></div>
    <div class="circle"></div>
    <p>Incorrect answer 1</p>
    <span class="feedback">Incorrect</span>
  </label>
  <label class="mcq-answer correct">
    <input type="radio" name="question1" id="answer1">
    <div class="highlight"></div>
    <div class="circle"></div>
    <p>Correct answer</p>
    <span class="feedback">Correct</span>
  </label>
  <label class="mcq-answer">
    <input type="radio" name="question1" id="answer1">
    <div class="highlight"></div>
    <div class="circle"></div>
    <p>Incorrect answer 2</p>
    <span class="feedback">Incorrect</span>
  </label>
  <label class="mcq-answer">
    <input type="radio" name="question1" id="answer1">
    <div class="highlight"></div>
    <div class="circle"></div>
    <p>Incorrect answer 3</p>
    <span class="feedback">Incorrect</span>
  </label>

</div> -->
<!-- MCQ visible demo ends here -->

<div class="container mt-5 ">
  <div class="row">
      <div class="col-md-12 ">
          <div class="" >
              <div class="card-title mt-3 mb-3" style="margin-left:2rem; font-family: 'Courier New', Courier, monospace;  font-size: 2rem; color:black; line-height: 1.8rem; text-align: justify;">
                Which of the following does TypeScript use to specify the type information? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia eius assumenda doloribus. </div>
              <div class="card-body">

                  <div class="row ">
                      <div class="col-md-12 ">
                          <div class="card" style="border-radius:25px">
                            
                              <div class="card-body1">

                               
                                  <div class="row col-md-12 mt-2">
                                  <h5 style="font-size: 0.8rem; margin: 0px 40px 7px"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores odit labore, quaerat ut distinctio quae, neque quibusdam debitis fuga culpa fugit. Saepe, ex.</h5></div>
                              
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="row mt-3 mb-3">
                      <div class="col-md-12 ">
                          <div class="card" style="border-radius:25px">
                              
                              <div class="card-body1">
                                  <div class="row col-md-12 mt-2 ">
                                  <h5  style="font-size: 0.8rem; margin: 0px 40px 7px"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores odit labore, quaerat ut distinctio quae, neque quibusdam debitis fuga culpa fugit. Saepe, ex.</h5></div>
                              </div>
                             
                          </div>
                      </div>
                  </div>
                  <div class="row mt-3 mb-3">
                    <div class="col-md-12 ">
                        <div class="card" style="border-radius:25px">
                            
                            <div class="card-body1">
                                <div class="row col-md-12 mt-2 ">
                                <h5  style="font-size: 0.8rem; margin: 0px 40px 7px"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores odit labore, quaerat ut distinctio quae, neque quibusdam debitis fuga culpa fugit. Saepe, ex.</h5></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                  <div class="col-md-12 ">
                      <div class="card" style="border-radius:25px">
                          
                          <div class="card-body1">
                              <div class="row col-md-12 mt-2 ">
                              <h5  style=   "font-size: 0.8rem;
                              margin: 0px 40px 7px"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores odit labore, quaerat ut distinctio quae, neque quibusdam debitis fuga culpa fugit. Saepe, ex.</h5></div>
                          </div>
                         
                      </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</div>