
<ng-container *ngIf="quizData; else noData">
<ng-container *ngFor="let quiz of quizData">
  <div class="home" *ngIf="quiz.quizId === quizName">
    <!-- <div class="container mt-md-5 "> -->

    <div class="bgimage    mt-md-5 mb-5  d-flex justify-content-center align-items-center"
      style=" border-radius: 50px;color: #ffff;">
      
      <div class="text-center ">
        <h1 style="font-weight: 600; font-size: 28px;" >GET   <span style="color:#ffd740; font-weight: 600; font-size: 28px;" >READY</span></h1>
        <h3 style="font-size: 16px; font-weight: 500;">YOUR QUIZ IS STARTING !</h3>
        <h1 style="font-weight: 500; font-size: 32px; color:#ffd740;">{{countdown}}</h1>
        <h1 style="font-weight: bold; font-size: 27px; ">SECONDS</h1>

        <button *ngIf="countdown > 0; else enableButton" mat-raised-button type="button" name="start quiz"
          [disabled]="true" class="btn btn-outline-primary" [routerLink]="['/question/', quiz.quizId, 1]"
          style="background-color: #2098D1;margin-top: 30px;">
          <span i18n><strong>Start the Quiz</strong>&nbsp;<mat-icon inline="true">play_arrow</mat-icon></span>
        </button>
        <ng-template #enableButton>
          <button mat-raised-button type="button" name="start quiz" class="btn btn-outline-primary"
            [routerLink]="['/question/', quiz.quizId, 1]" style="background-color: #2098D1; margin-top: 30px;">
            <span i18n><strong>Start the Quiz</strong>&nbsp;<mat-icon inline="true">play_arrow</mat-icon></span>
          </button>
        </ng-template>

      </div>
    </div>
  </div>

  <!-- <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title i18n>{{ quiz?.milestone }} Quiz</mat-card-title>
      <mat-card-subtitle i18n>
        <span>How well do you know {{ quiz?.milestone }}?</span>
        <span>Take the quiz and find out!</span>
      </mat-card-subtitle>
    </mat-card-header> -->

  <!-- <div mat-card-image class="quiz-topic-image"
          [ngStyle]="{ 'background': 'url(' + quiz?.imageUrl + ') no-repeat center top',
                        'background-size': '400px 280px' }">
    </div> -->

  <!-- <mat-card-content>
      <span i18n><strong>{{ quiz?.summary }}</strong>  This quiz is composed of <strong>{{ quiz?.questions.length }}</strong> timed multiple-choice question(s). Questions and answers are shuffled randomly. Taking this quiz should solidify your understanding of {{ quiz?.milestone }}. Beat the clock and match wits with your friends! Good luck and have fun with this quiz. Share and enjoy!</span>
    </mat-card-content> -->


  <!-- <mat-checkbox [checked]="false" (change)="onChange($event)">
        <mat-checkbox-label>Shuffle Questions and Answers</mat-checkbox-label>
      </mat-checkbox> -->


  <!-- </div> -->

</ng-container>
</ng-container>


<ng-template #noData>
  <div>Data is not found</div>
</ng-template>